<div class="well">
	<p>
		Que faire et ne pas faire avec une personne aîgée ?
		Toutes les bonnee pratiques et les conseils qui peuvent tout changer pour les proches.
	</p>
</div>

<div class="text-center">
<button type="button" class="btn btn-default"> <%= link_to "Entrer", home_menu_path %></button>
</div>
