<div class="menu1 text-center">
<button type="button" class="btn btn-default btn-lg active"> <%= link_to "Les bons gestes", fiches_index_path %></button>
</div>

<div class="menu2 text-center">
<button type="button" class="btn btn-default btn-lg active"> <%= link_to "Quizz", questionnaires_index_path %></button>
</div>

<div class="menu3 text-center">
<button type="button" class="btn btn-default btn-lg active"> <%= link_to "En savoir plus", plus_index_path %></button>
</div>