<div class="panel panel-default text-center">
	<div class="panel-body">
		<p>Découvrez plus d'informations
sur la prise en charge des
personnes âgées</p>
<h3><%= link_to "Sites, Blogs", plus_liens_path %></h3>
	</div>
</div>
<div class="panel panel-default text-center">
	<div class="panel-body">
		<p>Suivez-nous sur Facebook</p>
	</div>
</div>
<div class="panel panel-default text-center">
	<div class="panel-body">
		<h1>MENTIONS LEGALES </br>
			QUI SOMMES-NOUS ?
		</h1>
	</div>
</div>
<ul class="pager">
  <li> <a <%= link_to "Accueil", home_menu_path %> </a> </li>
</ul>