<div class="panel panel-default text-center">
	<div class="panel-body">
		<h1>RESSOURCES PUBLIQUES</h1>
	</div>
</div>

<div class="panel panel-default text-center">
	<div class="panel-body">
		<h1>RESSOURCES ASSOCIATIVES</h1>
	</div>
</div>

<div class="panel panel-default text-center">
	<div class="panel-body">
		<h1> RESSOURCES PRIVEES</h1>
	</div>
</div>
