<div class="panel panel-default">
	<div class="panel-body">
		<h4>Tous nos conseils</h4>
		<p>out ce que vÞu6 deræz aowir
pour bien qlendre en cborge
Si clic sur le bouton => wirefromes Q&A
urre personne ôgêe: étes vous
Thèmes
Rechc-rche por rnots
prêts ò opprendre lo
bientroitonce et les bonn",
i-''
protiquea de eoins ?
		</p>
	</div>
</div>

<ul class="pager">
  <li><a <%= link_to "Retour", fiches_index_path %>></a></li>
  <li><a href="#">Next</a></li>
</ul>