<div class="panel panel-default">
	<div class="panel-body">
		<p>Que faire et ne pas faire avec une personne âgêe</p>
		<li><%= link_to "Nouveau", fiches_nouveau_path %></li>
		<li><%= link_to "Conseils", fiches_conseils_path %></li>
		<li><%= link_to "Thèmes", fiches_themes_path %></li>
		<li><%= link_to "Recherches par mots clés", fiches_recherche_path %></li>
	</div>
</div>