<div class="panel panel-default">
	<div class="panel-body">
		<p>Que faire et ne pas faire avec une personne âgêe</p>
		<li>Nouveau</li>
		<li>Tous les conseils</li>
		<li>Thèmes</li>
		<li>Recherche par mots clés</li>
	</div>
</div>