<div class="panel panel-default">
	<div class="panel-body">
		<h4> Les derniers conseils</h4>
		<li>Conseil 1</li>
		<li>Conseil 2</li>
		<li>Conseil 3</li>
		<li>Conseil 4</li>
	</div>
</div>

<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>

<ul class="pager">
  <li><a <%= link_to "Retour", fiches_index_path %> ></a></li>
</ul>