<form role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="recherche">
    </div>
        <button type="submit" class="btn btn-default">Submit</button>
</form>

<ul class="pager">
  <li><a <%= link_to "Retour", fiches_index_path %> ></a></li>
</ul>